<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<h3 style="color:blue;"><center>Please select singin or view Json data</center></h3>
<br>
<br>
  <div padding>
  <ion-segment [(ngModel)]="st">
    <ion-segment-button value="stt">
      <b>Sign in</b>
    </ion-segment-button>
    <ion-segment-button value="ut">
    <b>View Json data</b>
    </ion-segment-button>
    </ion-segment>
    <br>
</div>

<div [ngSwitch]="st">
  <ion-list *ngSwitchCase="'stt'">

<app-login></app-login>

      </ion-list>
</div>
<div [ngSwitch]="st">
  <ion-list *ngSwitchCase="'ut'">
    <ion-grid class="padding">
      <ion-row >
        <ion-col size="1"><b style="color:Olive; font-size:20px">Sl.No</b></ion-col>
        <ion-col size="1"><b style="color:Olive; font-size:20px">UserId</b></ion-col>
        <ion-col size="2"><b style="color:Olive; font-size:20px">Title</b></ion-col>
        <ion-col size="8"><b style="color:Olive; font-size:20px">Body</b></ion-col>
      </ion-row>
    <div *ngFor="let i of z ; index as m">
    <ion-row >
      <ion-col  size="1">{{m+1}}</ion-col>
      <ion-col  size="1">{{i.userId}} </ion-col>
      <ion-col  size="2">{{i.title}}</ion-col>
      <ion-col  size="8">{{i.body}}</ion-col>
    </ion-row>
        </div>
    </ion-grid>
      </ion-list>
</div>

<br>
<br>

</ion-content>
